@import "reset";
@import "variables/global";
@import "themes/dark";
@import "themes/light";
@import "colors/index";


body{
  margin: 0;
  font: var(--font-m);
  color: var(--inverted-theme-200);
  background-color: var(--theme-200);
}

.app{
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}


.content-page{
  padding-top: 15px;
  flex-grow: 1;
}


.container-l{
  margin: 0 auto;
  width: 100%;;
  max-width: 1280px;
  padding: 0 15px;
}
