.Button{
  padding: 5px 15px;
  width: max-content;
  font: var(--font-m);
  font-weight: 500;
  color: var(--inverted-primary-color);
  transition: all .4s;
  border-radius: 2.5px; 
}

.primary{
  background-color: var(--green-color);

  &:hover{
    background-color: var(--green-dark-color);
  }
}


.outline{
  border: 1px solid var(--green-color);

  &:hover{
    color: white;
    background-color: var(--green-color);
  }
}
