.sidebar{
  width: var(--sidebar-width);
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--secondary-color);
  height: 100%;
  overflow: hidden;
  transition: all .1s ease-out;
  z-index: 20;
}


.themeSwitch{
  padding: 0 15px;
  display: flex;
  gap: 0 15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  span{
    white-space: nowrap;
    font-size: 14px;
    color: var(--inverted-primary-color);
  }
}

.closeBtnWrap{
  padding: 0 15px 15px;
  border-bottom: 1px solid var(--inverted-primary-color);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;

}


.bugButton{
  margin: auto auto 0;
  margin-bottom: 15px;
  display: block;
}

.LangSwitcher{
  padding: 0 15px;
}

.links{
  margin-top: 5em;
  text-align: center;
}

.link{
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-top: 1px solid var(--inverted-primary-color);
  transition: all .2s;
  color: var(--inverted-primary-color);

  &:last-child{
    border-bottom: 1px solid var(--inverted-primary-color);
  }

  svg{
    color: var(--green-color);
    transition: all .2s;
  }

  &:hover{
    background-color: var(--green-dark-color);
    color: white;

    svg{
      color: white;
    }
  }

}




.collapsed{
  width: 80px;

  .closeBtnWrap{
    justify-content: center;
  }

  .links{
    margin-top: 2em;
  }

  .themeSwitch{
    justify-content: center;
  }
}
