.sidebar{
  width: var(--sidebar-width);
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--theme-400);
  height: 100%;
  overflow: hidden;
  transition: all .1s ease-out;
  z-index: 20;
}


.themeSwitch{
  padding: 0 15px;
  display: flex;
  gap: 0 15px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  span{
    white-space: nowrap;
    font-size: 14px;
    color: var(--inverted-theme-100);
  }
}

.themeColorsSwitcher{
  margin-top: auto;
  margin-bottom: 15px;
  display: block;
}

.closeBtnWrap{
  padding: 0 15px 15px;
  border-bottom: 1px solid var(--inverted-theme-100);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;

}


.bugButton{
  margin: auto auto 0;
  margin-bottom: 15px;
  display: block;
}

.LangSwitcher{
  margin-bottom: 15px;
  padding: 0 15px;
}

.links{
  margin-top: 5em;
  text-align: center;
}




.collapsed{
  width: 80px;

  .closeBtnWrap{
    justify-content: center;
  }
  
  s.themeSwitch{
    justify-content: center;
  }
}
