.AddWord{
  width: 400px;
  height: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: var(--theme-300);
  border: 1px solid var(--color-200);

  h3{
    color: var(--inverted-theme-300);
    padding-left: 5px;
  }

  label{
    display: block;
    padding-left: 2.5px;
    margin-bottom: 5px;
    color: var(--inverted-theme-200);
  }
}

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--inverted-theme-200);

  .date{
    color: var(--color-100)
  }
}

.group{
  margin-bottom: 25px;
}


.btn{
  margin-left: auto;
}