.AddWord{
  padding: 20px;
  border-radius: 8px;
  background-color: var(--theme-300);
  border-bottom: 1px solid var(--color-200);
  transition: all .2s;

  h3{
    color: var(--inverted-theme-300);
    padding-left: 5px;
  }
}

.head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-200);

  .title{
    font-size: 20px;
  }

  .date{
    font-size: 16px;
    margin-left: 10px;
    color: var(--color-100)
  }
}


.row{
  width: 100%;
  display: flex;
  gap: 20px;
}

.column{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.group{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin-bottom: 15px;

  label{
    font-size: 16px;
    font-weight: 500;
    display: block;
    padding-left: 2.5px;
    color: var(--inverted-theme-300);
  }

  &_head{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
  }

  small{
    color: var(--danger-color);
  }
}

.btn{
  display: block;
  margin-left: auto;

  .icon{
    font-size: 32px;
  }
}


.form{
  width: 100%;
}

.icon{
  font-size: 26px;
  margin-right: 7.5px;
  color: var(--color-200);
}

.textarea{
  height: 100%;

  &_wrapper{
    flex-grow: 1;
    position: relative;
  }

  &_btn{
    position: absolute;
    right: 0.05em;
    top: 0.25em;
  }
}

