.btn{ 
  position: relative;
  padding: 5px;
  display: flex;
  width: 45px;



  &::after{
    content: '';
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 75%;
    height: 10px;
    border-radius: 8px;
    background-color: grey;
  }

}

.btn.app_light_theme{
  color: orange;
}

.btn.app_dark_theme{
  color: white;
  border-color: white;
}

.btn.app_light_theme svg{
  transform: translateX(calc(90%));
}

.svg{
  position: relative;
  z-index: 2;
  transition: transform .4s;
  font-size: 20px;
}