.LangSwitcher{
  display: flex;
  align-items: center;
  gap: 0 10px;

  span.line{
    width: 1px;
    height: 16px;
    background-color: var(--inverted-theme-100);
  }
}


.Button{
  display: flex;
  align-items: center;
  transition: all .3s;
  font-weight: 600;

  &:hover{
    color: var(--color-100);
  }

  svg{
    margin-right: 5px;
  }

  &.active{
    cursor: default;
    color: var(--color-100);
  }

}

.collapsed{
  justify-content: center;

  .Button{
    display: none;

    &.active{
      display: block;
    }
  }

  span.line{
    display: none;
  }
}


