.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100%; 
  background-color: var(--secondary-color);
}

.links{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 10px;
}