.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100%; 
  background-color: var(--secondary-color);
}

.navbarInner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 10px;
}

.loginBtn{
  display: block;
  margin-left: auto;
}