.ProfilePageHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title{

  display: block;
  align-items: center;
  color: var(--color-200);
  font-size: 30px;
  font-weight: 500;

  span{
    color: var(--inverted-theme-200);
    margin-left: 10px;
  }
}

.btns{
  display: flex;
  gap: 10px;
}

.errorText{
  span{
    color: var(--danger-color);
  }
}