.ProfilePageHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title{

  display: block;
  align-items: center;
  color: var(--color-200);
  font-size: 30px;
  font-weight: 500;

  span{
    color: var(--inverted-theme-200);
    margin-left: 10px;
  }
}

.btns{
  display: flex;
  gap: 10px;

  .btn_cancel{
    border: 1px solid transparent;
    background-color: var(--danger-color);
    transition: all .4s;

    &:hover{
      opacity: .8 !important;
    }
  }

  .btn_save{
    border: 1px solid transparent;
    background-color: var(--color-green);
    transition: all .4s;


    &:hover{
      opacity: .8 !important;
    }
  }

}

.errorText{
  span{
    color: var(--danger-color);
  }
}