.burgerBtn{
  position: relative;
  padding: 6px 2.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 32.5px;
  height: 27.5px;
  border-radius: 3px;
  transition: all .2s;

  span{
    width: 80%;
    height: 2px;
    background-color: var(--inverted-theme-100);
    border-radius: 5px;
  }

  &:hover{
    transform: scale(1.1);
  }

  &.active{
    span{
      display: none;
      transition: all .2s;

      &:first-child,
      &:last-child{
        display: block;
        position: absolute;
      }

      &:first-child{
        top: 50%;
        transform: rotate(135deg);
      }

      &:last-child{
        top: 50%;
        transform: rotate(45deg);
      }
    }

  }
}
