.Textarea{
  width: 100%;
  color: var(--inverted-theme-100);
  outline: none;
  resize: none;
}

.primary{
  border: 1px solid var(--inverted-theme-100);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--theme-300);
}

.reset {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.secondary{
  border: none;
  border-bottom: 1px solid var(--color-300);
  padding: 10px;
  border-radius: 2.5px;
  background-color: var(--theme-400);
}